---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<"input"> {
  type?: 'checkbox' | 'radio';
  size?: 'xs' | 'sm' | 'md' | 'lg' | 'xl';
  uid?: string;
  label?: string;
  classes?: string;
}

const { 
  type = 'checkbox',
  size = 'md',
  uid,
  label,
  classes, 
  ...rest 
  } = Astro.props;
---

<style>
  /* ↓ Upgrade label layout when it's wrapping a checkbox */
  label:has( > :where(input[type="radio"], input[type="checkbox"])) {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    gap: 1ch;
  }

  :where(input[type="radio"], input[type="checkbox"]) {
    margin: unset;
    /* ↓ Responds to font size */
    min-width: 1em;
    aspect-ratio: 1;
    border-radius: 100%;
  }
</style>

<label for={uid} class:list={[size && `font-${size}`, classes]} >
  <input {type} id={uid} {...rest}>
  <span>{label}</span>
</label>