---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';
import Stack from '@components/structure/Stack.astro';

interface Props extends HTMLAttributes<"input"> {
  type?: 'color' | 'date' | 'datetime-local' | 'email' | 'file' | 'hidden' | 'month' | 'number' | 'password' | 'range' | 'search' | 'submit' | 'tel' | 'text' | 'time' | 'url' | 'week';
  size?: 'xs' | 'sm' | 'md' | 'lg' | 'xl';
  shape?: 'square' | 'circle' | 'pill';
  width?: 'auto' | 'xs' | 'sm' | 'md';
  uid?: string;
  label?: string;
  icon?: string;
  classes?: string;
}

const { 
  type = 'text', 
  size ='md',
  shape,
  width,
  uid,
  label, 
  icon,
  classes, 
  ...rest 
  } = Astro.props;
---

<style>
  :is(.error, .helper) { font-size: .8625em; }
  .error { color: var(--red-5); }
  .helper { color: var(--gray-cool-5); }
</style>

<Stack 
  as="div" 
  class:list={[size && `font-${size}`, 'grid', shape, classes]} 
  space="3xs" 
  {...rest}
>
  <label for={uid}>
    { icon && <Icon name={icon} /> }
    {label}
  </label>
    <span class="error">warning</span>
    <input {type} id={uid} class:list={[width && `input-${width}`, shape]}>
    <span class="helper">Helper text</span>
</Stack>