---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';
import Stack from '@components/structure/Stack.astro';

interface Props extends HTMLAttributes<"input"> {
  type?: 'color' | 'date' | 'datetime-local' | 'email' | 'file' | 'hidden' | 'month' | 'number' | 'password' | 'range' | 'search' | 'submit' | 'tel' | 'text' | 'time' | 'url' | 'week';
  size?: 'xs' | 'sm' | 'md' | 'lg' | 'xl';
  shape?: 'square' | 'circle' | 'pill';
  length?: 'auto' | 'xs' | 'sm' | 'md';
  uid?: string;
  label?: string;
  icon?: string;
  classes?: string;
}

const { 
  type = 'text', 
  size ='md',
  shape,
  length,
  uid,
  label, 
  icon,
  classes, 
  ...rest 
  } = Astro.props;
---

<Stack 
  as="div" 
  class:list={[size && `font-${size}`, 'grid', shape, classes]} 
  space="3xs" 
  {...rest}
>
  <label for={uid}>
    { icon && <Icon name={icon} /> }
    {label}
  </label>
    <span>warning</span>
    <input {type} id={uid} class:list={[length && `input-${length}`, shape]}>
    <span>Helper text</span>
</Stack>