---
import Layout from '@layouts/Layout.astro';

//Components
import { Image, Picture } from 'astro:assets';
import Background from '@components/Background.astro';
import Hero from '@components/Hero.astro';

import heroImage from '@images/moon-7.jpg';

const imageKitBaseURL = "https://ik.imagekit.io/rb7q3yxmzqn";
const imagePath = "moons/moon-1_u-HpwpOBH.JPG?";  // Replace with your image path

const widths = [240, 540, 720, 1200];
const srcSet = widths.map(width => `${imageKitBaseURL}${imagePath}?tr=w-${width} ${width}w`).join(", ");
const defaultSrc = `${imageKitBaseURL}${imagePath}?tr=w-1200`;  // Default fallback image
---

<style>
  .pad-block-3xl { padding-block: var(--space-3xl); }
</style>

<Layout title="Welcome to Astro." description="The official site of Astro.">

  <Image
    src={heroImage}
    alt="descriptive text"
    widths={[240, 540, 720, heroImage.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${heroImage.width}px`}
  />
  
  <main>
    <Background
      tag='article'
    
      gradients={[
        "linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1))",
        "linear-gradient(to top, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1))"
      ]}
      imagePaths={[ 
        "/src/img/blob-1.svg", 
        "/src/img/blob-2.svg",
        "/src/img/blob-3.svg",
        "/src/img/hexellence.png" 
      ]}
      backgroundProperties={[
        { position: 'top -10vw left -50vw', size: '80vw' },
        { position: 'center right -10vw', size: '40vw' },
        { position: 'bottom left -10vw', size: '40vw' },
        { repeat: 'repeat', size: 'auto' }
      ]}
      backgroundColor="#ffffff"
      aspectRatio="var(--ratio-square)"
    >
    </Background>
    
    <Background
      tag="article"
      gradientsFirst={false}
      imagePaths={[ "/src/img/curve-divider-stroke.svg" ]}
      gradients={[ "linear-gradient(103deg,#98d9d6 8%,#55c6b0 99%)" ]}
      backgroundProperties={[
        { repeat: "no-repeat", position: "top center", size: "100%" }
      ]}
      backgroundColor="lightgray"
      classes="grid align-center justify-center max-inline-content pad-block-3xl"
      aspectRatio="var(--ratio-ultrawide)"
    >
      <!-- Hero -->
      <Hero 
        title="Explore the World with Us"
        subtitle="Join our adventure and make a difference"
        content={[
          "We offer the best experiences in travel and adventure. Our team is dedicated to providing top-notch services. Discover new places and make lasting memories with us.",
  
          "Discover new places and make lasting memories with us."
        ]}
        imagePath="/src/img/fungi.jpg"  
        altText="A beautiful landscape"
        layout="ltr"
        mediaWidth={400}
        mediaHeight={300}
        classes="with-sidebar"
        style="gap: 3rem;"
      >
        <!-- slotted content -->
        <button class="confetti">Confetti</button>
      </Hero>
    </Background>
  </main>
</Layout>

<script>
  import jsConfetti from 'js-confetti';
  const confetti = new jsConfetti();

  document.addEventListener('DOMContentLoaded', () => {
    const funBtn = document.querySelector('.confetti');
    // Guard Clause
    if (!funBtn) return;
    
    let likes = 0;

    funBtn.addEventListener('click', () => {
      likes++;
      funBtn.textContent = `Confetti (${likes})`;
      funBtn.setAttribute('aria-label', `Confetti: ${likes}`);
      confetti.addConfetti();
    });
  });
</script>