---
import Layout from '@layouts/Layout.astro';

//Components
import { Image } from 'astro:assets';
import Stach from '@components/Stack.astro';
import Background from '@components/Background.astro';
import Heading from '@components/Heading.astro';
import Text from '@components/Text.astro';
import Button from '@components/Button.astro';
import Select from '@components/Select.astro';
import Input from '@components/Input.astro';
import Checkable from '@components/Checkable.astro';
import MediaObject from '@components/MediaObject.astro';

import heroImage from '@images/moon-7.jpg';
import Stack from '@components/Stack.astro';
---

<style>
  .pad-block-3xl { padding-block: var(--space-3xl); }
</style>

<Layout title="Welcome to Astro." description="The official site of Astro.">
  <Image
    src={heroImage}
    alt="descriptive text"
    widths={[240, 540, 720, heroImage.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${heroImage.width}px`}
  />
  <main>
    <Background
      tag='section'
      gradients={[
        "linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1))",
        "linear-gradient(to top, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1))"
      ]}
      imagePaths={[ 
        "/src/img/blob-1.svg", 
        "/src/img/blob-2.svg",
        "/src/img/blob-3.svg",
        "/src/img/hexellence.png" 
      ]}
      backgroundProperties={[
        { position: 'top -10vw left -50vw', size: '80vw' },
        { position: 'center right -10vw', size: '40vw' },
        { position: 'bottom left -10vw', size: '40vw' },
        { repeat: 'repeat', size: 'auto' }
      ]}
      backgroundColor="#ffffff"
      aspectRatio="var(--ratio-square)"
    >
    </Background>
    
    <Background
      tag="section"
      gradientsFirst={false}
      gradients={[ "linear-gradient(103deg,#98d9d6 8%,#55c6b0 99%)" ]}
      imagePaths={[ "/src/img/curve-divider-stroke.svg" ]}
      backgroundProperties={[
        { repeat: "no-repeat", position: "top center", size: "100%" }
      ]}
      backgroundColor="lightgray"
      classes="stack max-inline-content pad-block-3xl"
      data-space="3xl"
      aspectRatio="var(--ratio-ultrawide)"
    >
       
      <MediaObject
        tag="article"
        mediaSide='media-left'
        mediaWidth='30rem'
        gap="var(--space-sm-lg)"
        contentMin='45ch'
        noStretch
        classes="custom-class"
      >
        <!-- slotted | content -->
        <small class="subtitle">subhead</small>
        <Heading tag='h1' size='xl' classes='title' color='brand' contrast text='Moons ya know! Tides & shit.'/>
        
        <Text>Lorem ipsum dolor sit amet consectetur adipisicing elit. A facere sint accusamus dolor? Nostrum perspiciatis ab excepturi facere magni perferendis distinctio doloribus. Sunt pariatur autem fuga aspernatur ipsum nihil sed.</Text>
        <Text>A facere sint accusamus dolor? Nostrum perspiciatis ab excepturi facere magni perferendis distinctio doloribus. Sunt pariatur autem fuga aspernatur ipsum nihil sed.</Text>
        <Text>Sunt pariatur autem fuga aspernatur ipsum nihil sed.</Text>
        <Text>Lorem ipsum dolor sit amet consectetur adipisicing elit. A facere sint accusamus dolor? Nostrum perspiciatis ab excepturi facere magni perferendis distinctio doloribus. Sunt pariatur autem fuga aspernatur ipsum nihil sed.</Text>
        
        <Button theme="primary" classes="confetti" text='Confetti' classes="mt-3"/>

        <!-- slotted | media -->
        <Image
          slot="media" 
          src={heroImage}
          alt="descriptive text"
          widths={[240, 540, 720, heroImage.width]}
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${heroImage.width}px`}
        />
      </MediaObject>

      <MediaObject
        tag="article"
        mediaSide='media-right'
        mediaWidth='30rem'
        contentMin='45ch'
        gap="var(--space-sm-lg)"
        noStretch
        classes="custom-class"
      >
        <!-- slotted content -->
        <small class="subtitle">subhead</small>
        <Heading tag="h2" class="title" text='Moons ya know! Tides & shit.'/>
        
        <Text>Lorem ipsum dolor sit amet consectetur adipisicing elit. A facere sint accusamus dolor? Nostrum perspiciatis ab excepturi facere magni perferendis distinctio doloribus. Sunt pariatur autem fuga aspernatur ipsum nihil sed.</Text>
        <Text>A facere sint accusamus dolor? Nostrum perspiciatis ab excepturi facere magni perferendis distinctio doloribus. Sunt pariatur autem fuga aspernatur ipsum nihil sed.</Text>
        <Text>Sunt pariatur autem fuga aspernatur ipsum nihil sed.</Text>
        <Text>Lorem ipsum dolor sit amet consectetur adipisicing elit. A facere sint accusamus dolor? Nostrum perspiciatis ab excepturi facere magni perferendis distinctio doloribus. Sunt pariatur autem fuga aspernatur ipsum nihil sed.</Text>
        <Button theme="primary" classes="confetti" text='Confetti'/>
        
        <!-- slotted media -->
        <video slot="media" controls>
          <source src='./src/img/earth.mp4' type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </MediaObject>
    </Background>
  </main>
</Layout>

<script>
  import jsConfetti from 'js-confetti';
  const confetti = new jsConfetti();

  document.addEventListener('DOMContentLoaded', () => {
  const funBtns = document.querySelectorAll('.confetti');
  
  if (!funBtns.length) return;
  
  funBtns.forEach(funBtn => {
    let likes = 0;

    funBtn.addEventListener('click', () => {
      likes++;
      funBtn.textContent = `Confetti (${likes})`;
      funBtn.setAttribute('aria-label', `Confetti: ${likes}`);
      confetti.addConfetti();
    });
  });
});

</script>