---
import Layout from '@layouts/Layout.astro';
import Stack from '@components/structure/Stack.astro';
import Button from '@components/base/Button.astro';
import Text from '@components/typography/Text.astro';
// form components
import Select from '@components/form/Select.astro';
import Input from '@components/form/Input.astro';
import Fieldset from '@components/form/Fieldset.astro';
import Checkable from '@components/form/Checkable.astro';

import Avatar from '@components/Avatar.astro';
import userAvatar from '@images/killer-mike.jpg';
import altUserAvatar from '@images/elp.jpg';
---

<Layout title="Welcome to Astro." description="The official site of Astro.">	
	<main class="max-inline-content">


		<div class="card__avatar card__avatar--multiple">
      <Avatar src={userAvatar} alt="User Avatar 1" size="xs" id="1" />
      <Avatar src={userAvatar} alt="User Avatar 2" size="sm" id="2" />
      <Avatar src={userAvatar} alt="User Avatar 3" size="md" id="3" />
      <Avatar src={userAvatar} alt="User Avatar 4" size="lg" id="4" />
      <Avatar src={altUserAvatar} alt="User Avatar 5" size="xl" id="5" />
      <div class="badge"></div>
    </div>
		<Stack 
			tag="form" 
			space="sm" 
			style="max-inline-size: var(--measure-md); margin-inline: auto"
		>
			<Input type="text" label="Name" uid="input-1" />
			<Input type="text" label="Email" uid="input-1" />
			<Select label='Select'
				options={[
					{
						text: 'Option 1',
						value: 'value 1',
					},
					{
						text: 'Option 2',
						value: 'value 2',
					},
				]} 
			/>
			
			<Fieldset label="Legend Separator" separator>
				<Stack space="sm">
					<Input type="text" label="Name" uid="input-1" />
					<Input type="text" label="Email" uid="input-1" />
				</Stack>
			</Fieldset>
			
			<Fieldset label="Legend" classes="grid" style="gap:.5rem">
				<Checkable type="radio" uid="radio-1" name="radio" label="RD 1" />
				<Checkable type="radio" uid="radio-2" name="radio" label="RD 2" />
			</Fieldset>
			
			<Input type="text" label="Input" uid="input-1" />
			<Checkable type="checkbox" uid="checkbox-1" name="checkbox-1" value="checkbox-1" label="CB 1"/>
			<Text style="--space: 0"> Lorem ipsum dolor sit amet consectetur adipisicing elit. A facere sint accusamus dolor? Nostrum perspiciatis ab excepturi facere magni perferendis distinctio doloribus. Sunt pariatur autem fuga aspernatur ipsum nihil sed.</Text>
			<Button theme="primary" text='Submit'/>
		</Stack>
	</main>
</Layout>


