---
import Layout from '@layouts/Layout.astro';
import Stack from '@components/structure/Stack.astro';
import Button from '@components/base/Button.astro';
import Text from '@components/typography/Text.astro';
// form components
import Select from '@components/form/Select.astro';
import Input from '@components/form/Input.astro';
import Fieldset from '@components/form/Fieldset.astro';
import Checkable from '@components/form/Checkable.astro';

import Avatar from '@components/Avatar.astro';
import userAvatar from '@images/killer-mike.jpg';
import altUserAvatar from '@images/elp.jpg';
---

<style>
	.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    animation: gradient 3s linear infinite;
  }

  @keyframes gradient {
    0%,
    100% {
      background-position: 0%;
    }
    50% {
      background-position: 25%;
    }
  }

  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 60%,
      white 80%
    );
  }
</style>

<Layout title="Welcome to Astro." description="The official site of Astro.">	
	<main class="max-inline-padding">
		<div class="card__avatar card__avatar--multiple">
      <Avatar src={userAvatar} alt="User Avatar 1" size="xs" />
      <Avatar src={userAvatar} alt="User Avatar 2" size="sm" />
      <Avatar src={userAvatar} alt="User Avatar 3" size="md" />
      <Avatar src={userAvatar} alt="User Avatar 4" size="lg" />
      <Avatar src={altUserAvatar} alt="User Avatar 5" size="xl" />
      <div class="badge"></div>
    </div>
		<Stack 
			as="form" 
			space="sm" 
			style="max-inline-size: var(--measure-md); margin-inline: auto"
		>
			<Input type="text" label="Name size auto" uid="input-1" size="sm" length='auto'/>	
			<Input type="text" label="Name size xs" uid="input-1" size="sm" length='xs'/>
			<Input type="text" label="Name size xs" uid="input-1" size="sm" length='sm'/>
			<Input type="text" label="Name size xs" uid="input-1" size="sm" length='md'/>
			<Input type="text" label="Name size sm" uid="input-0" size="sm" />
			<Input type="text" label="Name size md" uid="input-1" size="md" />
			<Input type="text" label="Email size lg" uid="input-1" size="lg" />
			<Input type="text" label="Name size xl" uid="input-1" size="xl" />
			<Select label='Select' size="xs"
				options={[
					{
						text: 'Option 1',
						value: 'value 1',
					},
					{
						text: 'Option 2',
						value: 'value 2',
					},
				]} 
			/>
			<Select label='Select' size="sm"
				options={[
					{
						text: 'Option 1',
						value: 'value 1',
					},
					{
						text: 'Option 2',
						value: 'value 2',
					},
				]} 
			/>
			<Select label='Select' size="md"
				options={[
					{
						text: 'Option 1',
						value: 'value 1',
					},
					{
						text: 'Option 2',
						value: 'value 2',
					},
				]} 
			/>
			<Select label='Select' size="lg"
				options={[
					{
						text: 'Option 1',
						value: 'value 1',
					},
					{
						text: 'Option 2',
						value: 'value 2',
					},
				]} 
			/>
			<Select label='Select' size="xl"
				options={[
					{
						text: 'Option 1',
						value: 'value 1',
					},
					{
						text: 'Option 2',
						value: 'value 2',
					},
				]} 
			/>
			
			<Fieldset label="Legend Separator" separator>
				<Stack space="sm">
					<Input type="text" label="Name" uid="input-1" />
					<Input type="text" label="Email" uid="input-1" />
				</Stack>
			</Fieldset>
			
			<Fieldset label="Legend" classes="grid" style="gap:.5rem">
				<Checkable type="radio" uid="radio-1" name="radio" size="xs" label="RD 1 xs" />
				<Checkable type="radio" uid="radio-2" name="radio" size="sm" label="RD 2 sm" />
				<Checkable type="radio" uid="radio-3" name="radio" size="md" label="RD 3 md" />
				<Checkable type="radio" uid="radio-4" name="radio" size="lg" label="RD 4 lg" />
				<Checkable type="radio" uid="radio-5" name="radio" size="xl" label="RD 5 xl" />
			</Fieldset>
			
			<Input type="text" label="Input" uid="input-1" />
			<Checkable type="checkbox" uid="checkbox-1" name="checkbox-1" value="checkbox-1" size="xs" label="CB 1"/>
			<Checkable type="checkbox" uid="checkbox-2" name="checkbox-1" value="checkbox-1" size="sm" label="CB 1"/>
			<Checkable type="checkbox" uid="checkbox-3" name="checkbox-1" value="checkbox-1" size="md" label="CB 1"/>
			<Checkable type="checkbox" uid="checkbox-4" name="checkbox-1" value="checkbox-1" size="lg" label="CB 1"/>
			<Checkable type="checkbox" uid="checkbox-5" name="checkbox-1" value="checkbox-1" size="xl" label="CB 1"/>
			<Text style="--space: 0"> Lorem ipsum dolor sit amet consectetur adipisicing elit. A facere sint accusamus dolor? Nostrum perspiciatis ab excepturi facere magni perferendis distinctio doloribus. Sunt pariatur autem fuga aspernatur ipsum nihil sed.</Text>
			<Button theme="primary" text='Submit'/>
		</Stack>
	</main>
</Layout>


